*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color:rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#title, .subtitle, .post_title, .post_title2 {
    color: rgb(255, 0, 221);
}
    .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;;
}

    #title {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }

    .subtitle {
        font-family: Arial, sans-serif ;
        text-align: center;
        text-transform: uppercase;
    }



    .post_title, .post_title2 {
        font-size: 20px;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
    }

    .post {
        background: white;
        padding: 15px;
    }

    .Poema#1 {
        background: white;
        padding: 15px;
        border: solid rgb(45, 250, 240);
        margin: 10px
    }

    .Poema#2{
        background: white;
        padding: 15px;
        border: solid rgb(45, 250, 240);
        margin: 10px
    }

    ul {
        list-style-type: "\1F44D";
    }

   /* .parag1 {
/*para determinar largura - width*/
       /* width: 300px;
    }*/

    